{% block main %}
    <div class="ContainerSlider">
      <div class="carrousel">
        <div class="slider">
          <section><img src="{{ asset('images/feme.png')}}" alt="Design"/></section>
          <section><img src="{{ asset('images/hacking.png')}}" alt="Design"/></section>
          <section><img src="{{ asset('images/feme.png')}}" alt="Design"/></section>
          <section><img src="{{ asset('images/Brontis-Guilloux-MG.Fahem.jpg')}}" alt="Design"/></section>
        </div>
        <div class = "controls">
          <span class ="arrow left"><img src="{{ asset('images/arrowL.svg')}}" alt="Design"/></span>
          <span class ="arrow right"><img src="{{ asset('images/arrowR.svg')}}" alt="Design"/></span>
          <ul>
          <li class='selected'></li>
          <li></li>
          <li></li>
          <li></li>
          </ul>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script defer src='{{asset("js/slider.js") }}'></script>
{% endblock %}

