<div class="grid-container">
            <div class="grid-item">
                <img src="{{ asset('images/logo hetic.svg')}}" alt="" class="logo_footer">
                <div class="social_media">
                    <a href="https://www.linkfooteredin.com/feed/?trk=onboarding-landing"><img src="{{ asset('images/linkfooteredin.svg')}}"
                            alt="" class="social_media"></a>
                    <a href="https://twitter.com/hetic"><img src="{{ asset('images/twitter.svg')}}" alt="" class="social_media"></a>
                    <a href="https://www.instagram.com/instahetic/"><img src="{{ asset('images/instagarm.svg')}}" alt=""
                            class="social_media"></a>
                </div>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">CATÉGORIES</div>
                <a class="linkfooter" href="{{ path('interview') }}">INTERVIEWS</a>
                <a class="linkfooter" href="{{ path('project') }}">PROJETS</a>
                <a class="linkfooter" href="{{ path('articles') }}">ARTICLES</a>
                <a class="linkfooter" href="{{ path('news') }}">NEWS</a>
                <a class="linkfooter" href="{{ path('interview') }}">EVENTS</a>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">VIE D'HETIC</div>
                <a class="linkfooter" href="{{ path('content') }}">HETICIEN DU MOIS</a>
                <a class="linkfooter" href="{{ path('asso') }}">ASSOCIATIONS</a>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">NOUS CONTACTER</div>
                <div class="linkfooter">CONTACT / AIDE</div>
                <div class="linkfooter">MENTIONS LÉGALES</div>
            </div>
        </div>
    </footer>
</body>

</html>