  <body>
    <!-- container flex pour l'ensemble de la page -->
    <div class="container">
      <!-- bandeau asso -->
      <div class="Textelabel">D'autres articles récents</div>
      <!-- container pour les 6 blocs photo -->
      <div class="Blocks">
        <!-- Case NEWSROOM qui contient image et description -->
        <div class="Case">
          <div class="figure">
            <img id="PictureSize" src="../images/Sabrina-Nedjah.jpeg" alt="" />
          </div>
          <a class="whiterectangle" href="{{ path('content') }}">
            <div class="LittleTitle">Présentation Sabrina Nedjah</div>
            <div class="LittleDescription">
              Sabrina Nedjah, Product Designer chez Maze
            </div>
            <div class="ReadingTime">5 minutes</div>
          </a>
        </div>

        <!-- Case HETICTACTOE qui contient image et description -->
        <div class="Case">
          <div class="figure">
            <img id="PictureSize" src="../images/Brontis.png" alt="" />
          </div>
          <a class="whiterectangle" href="{{ path('content') }}">
            <div class="LittleTitle">Interview avec Brontis</div>
            <div class="LittleDescription">
              “Dis moi à quoi tu joues et je te dirai qui tu es”
            </div>
            <div class="ReadingTime">5 minutes</div>
          </a>
        </div>

        <!-- Case NEBULA qui contient image et description -->
        <div class="Case">
          <div class="figure">
            <img id="PictureSize" src="../images/quentin.jpg" alt="" />
          </div>
          <a class="whiterectangle" href="{{ path('content') }}">
            <div class="LittleTitle">Manifeste du savoir</div>
            <div class="LittleDescription">
              Manifeste du Savoir par Quentin Maillard
            </div>
            <div class="ReadingTime">5 minutes</div>
          </a>
        </div>

        <!-- Case SYNERG qui contient image et description -->
        <div class="Case">
          <div class="figure">
            <img id="PictureSize" src="../images/Julia.jpg" alt="" />
          </div>
          <a class="whiterectangle" href="{{ path('content') }}">
            <div class="Transitionwhite LittleTitle">
              Reporting Projet MEDIA MONKS
            </div>
            <div class="Transitionwhite LittleDescription">
              Présentation du projet de Design de Media Monks
            </div>
            <div class="Transitionwhite ReadingTime">5 minutes</div>
          </a>
        </div>

        <!-- Case FAILEN qui contient image et description -->
        <div class="Case">
          <div class="figure">
            <img id="PictureSize" src="../images/dylan.jpg" alt="" />
          </div>
          <a class="whiterectangle" href="{{ path('content') }}">
            <div class="LittleTitle">Dylan Golé</div>
            <div class="LittleDescription">
              infographie 3D Temps Réel
            </div>
            <div class="ReadingTime">5 minutes</div>
          </a>
        </div>

        <!-- Case OPENBOX qui contient image et description -->
        <div class="Case">
          <div class="figure">
            <img id="PictureSize" src="../images/Dorian.jpeg" alt="" />
          </div>
          <a class="whiterectangle" href="{{ path('content') }}">
            <div class="LittleTitle">Dorian Cannone - Master Product Management</div>
            <div class="LittleDescription">
              Le métier de Product Owner selon Dorian Cannone
            </div>
            <div class="ReadingTime">5 minutes</div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
